.container {
  min-height: 100vh;
  background: linear-gradient(135deg, #ecfdf5, #ffffff);
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  width: 100%;
  max-width: 400px;
  padding: 40px;
  border-radius: 20px;
  background: white;
  box-shadow: 0 15px 40px rgba(0,0,0,0.08);
  text-align: center;
}

.logo img {
  width: 70px;
  margin-bottom: 10px;
}

.heading {
  color: #065f46;
  font-size: 1.6rem;
}

.subtext {
  font-size: 0.95rem;
  color: #6b7280;
  margin-bottom: 22px;
}

.form input {
  width: 100%;
  padding: 12px;
  margin-bottom: 14px;
  border-radius: 8px;
  border: 1px solid #d1fae5;
  outline: none;
  font-size: 0.95rem;
}

.form input:focus {
  border-color: #34d399;
}

.forgot {
  text-align: right;
  font-size: 0.85rem;
  margin-bottom: 12px;
}

.forgot a {
  color: #047857;
}

.loginBtn {
  width: 100%;
  padding: 12px;
  margin-top: 10px;
  border-radius: 10px;
  background: #34d399;
  color: white;
  font-weight: 600;
  transition: 0.3s;
}

.loginBtn:hover {
  background: #059669;
}

.divider {
  margin: 20px 0;
  font-size: 0.8rem;
  color: #9ca3af;
}

.google {
  width: 100%;
  border: 1px solid #d1fae5;
  padding: 10px;
  border-radius: 10px;
  background: #f0fdf4;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.google img {
  width: 18px;
}

.footer {
  margin-top: 18px;
  font-size: 0.9rem;
}

.footer a {
  color: #047857;
  font-weight: 600;
}

/* Responsive */
@media (max-width: 500px) {
  .card {
    padding: 30px 22px;
  }
}
